<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">
    <title>紀馨婷線上簡歷</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/cindystyle.css">
    <link rel="icon" href="pic/icon.png">
    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/cindyjs.js"></script>

</head>
<div class="gotop" style="display: none;"><i class="fas fa-chevron-up"></i></div>

<body class="allbg" style="background-image: url(' pic/bg.png ');">
    <div id="app">
        <div class="navbarshadow">
            <div class="container navbarbg">
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand" href="#">{{name}}</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <div class="navbar-nav ml-auto">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="#aboutme">關於我</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#education">學歷</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#experience">經歷</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#autobiography">自傳</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#works">作品</a>
                                </li>
                            </ul>
                        </div>

                    </div>



                </nav>
            </div>

        </div>

        <div class="container mt-5" id="aboutme">
            <div class="row">
                <div class="col-12 col-lg-3 ">
                    <img src="pic/head.jpg" class="img-fluid headstyle">
                </div>
                <div class="col-12 col-lg-9 cardcenter">
                    <div class="cardcenter aboutme">
                        <div>
                            <h5><b>紀馨婷 Cindy Chi</b></h5>
                        </div>
                        <div><i class="fas fa-birthday-cake mr-2"></i>1991-03-03</div>
                        <div><i class="fas fa-envelope mr-2"></i>chisintin@gmail.com</div>
                        <div><i class="fas fa-briefcase mr-2"></i>前端網頁工程師</div>
                    </div>

                </div>
            </div>
        </div>
        <div class="container mt-5">
            <div><i class="fas fa-cog mr-2 fontbg"></i><b>專長</b></div>
            <div class="skill" v-for="item in skill">{{ item }}</div>
        </div>
        <div class="container mt-5" id="education">
            <div><i class="fas fa-school mr-2 fontbg"></i><b>學歷</b></div>
            <ul class="listheight" v-for="item in school">
                <li>{{item}}</li>
            </ul>
        </div>
        <div class="container mt-5" id="experience">
            <div><i class="fas fa-flag mr-2 fontbg"></i><b>經歷</b></div>
            <ul class="listheight" v-for="item in experience">
                <li>{{ item.period}}<span
                        style="color: #8a8a8a;">（{{item.howlong}}）</span>　{{item.company}}　{{item.title}}</li>
            </ul>
        </div>
        <div class="container mt-5" id="autobiography">
            <div><i class="fas fa-portrait mr-2 fontbg mb-4"></i><b>自傳</b></div>
            <div v-for="item in autobiography">
                <p>　　{{item}}</p>
            </div>
        </div>
        <div class="container mt-5" id="works">
            <div><i class="fas fa-portrait mr-2 fontbg mb-4"></i><b>作品</b></div>
            <div class="row" v-for="item in works">
                
                <div class="col-12 col-lg-6 mb-30">
                    <div class="card">
                        <a href="#">
                            <img src="pic/head.jpg" class="card-img-top">
                        <div
                            class="pinfo-bottom fixed-bottom fixed-left pt-2 pb-2 single-best-receipe-area">
                            123
                        </div>
                        </a>                        
                    </div>
                </div> 
                
            </div>
        </div>
        <div class="container mt-5">
            <div class="endstyle">Thanks for watching</div>
        </div>


    </div>
    <script src="js/vue 2.6.11/vue.js"></script>
    <script src="js/cindydata.js"></script>
</body>


</html>

